@import "tailwindcss";

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-lato: var(--font-lato);
  --font-cinzel: var(--font-cinzel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 7s ease infinite;
  -webkit-animation: gradientShift 7s ease infinite;
}
